@model  Belgo.Web.Models.PesquisaModel


@using (Html.BeginForm("Publicar", null, FormMethod.Post))
{
    @Html.HiddenFor(m => Model.ID)

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Visualizar pesquisa - @Model.Nome</h4>
    </div>
    <div class="modal-body">
        @{
            foreach (var pergunta in Model.Perguntas)
            {
           
                <h4 class="@(pergunta.Respostas.Count == 0 & pergunta.Tipo!="D" ? "red" : "")"><strong>@pergunta.Ordem) @pergunta.Descricao</strong> </h4>

                if (pergunta.Tipo == "D")
                {
                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Digite sua resposta"></textarea>
                    </div>
                }
                else
                {
                    if (pergunta.Respostas.Count == 0)
                    { <div class="red">Resposta não cadastrada.</div> }
                    foreach (var resposta in pergunta.Respostas)
                    {
                        var tipo = (Belgo.Web.Util.Enumerador.TipoPergunta)Enum.Parse(typeof(Belgo.Web.Util.Enumerador.TipoPergunta), pergunta.Tipo.ToString(), true);

                        switch (tipo)
                        {
                            case Belgo.Web.Util.Enumerador.TipoPergunta.U:
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                                        @resposta.Descricao
                                    </label>
                                </div>
                                break;
                            case Belgo.Web.Util.Enumerador.TipoPergunta.M:
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">
                                        @resposta.Descricao
                                    </label>
                                </div>

                                break;
                        }
                    }

                }
                <br />
                <hr />

            }

        }


        <div class="modal-footer">

            @if (Model.Fechado)
            {
                <button class="btn btn-default" data-dismiss="modal">Fechar</button>
            }
            else
            {
                var contemPergunta = Model.Perguntas.Count() > 0;

                <button class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="submit" role="button" class="btn btn-danger @(contemPergunta ? "" : "disabled" )" data-tooltip="tooltip" title="@(contemPergunta ? "" : "Não há como publicar pesquisa sem pergunta." )">
                    Publicar
                </button>
            }
        </div>

    </div>
            }


<script>
    $(function () {
        $('[data-tooltip="tooltip"]').tooltip()
    })
</script>
