@model List<Belgo.Web.Models.PesquisaModel>
@{
    ViewBag.Title = "Pesquisas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pull-right">
    <a href="@Url.Action("Cadastrar")" role="button" class="btn btn-link" title="Cadastrar nova pesquisa" data-tooltip="tooltip">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Nova pesquisa
    </a>
</div>
<p class="clearfix"></p>


<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading gray">Pesquisas Cadastradas</div>

    @using (Html.BeginForm("Publicar", null, FormMethod.Post))
    {
        <!-- Table -->
        <table class="table table-hover">
            <thead>
                <tr class="gray">
                    <th>ID</th>
                    <th>Nome</th>
                    <th class="text-center">Data do Cadastro</th>
                    <th>Status</th>
                    <th class="text-center">Ação</th>
                </tr>
            </thead>
            <tbody>
                @{foreach (var item in Model)
                {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.Nome</td>
                            <td class="text-center">@(Convert.ToDateTime(item.DataCriacao).ToString("dd/MM/yyyy HH:mm"))</td>
                            <td>
                                <span aria-hidden="true" class="glyphicon @(item.Fechado ? "glyphicon-ok green" : "glyphicon-pencil red") "></span> @(item.Fechado ? "Finalizado" : "Editando" )
                            </td>
                            <td class="text-center">
                                <a href="@Url.Action("Cadastrar", new { id = item.ID })" role="button" class="btn btn-default btn-xs editar red" title="Editar" data-tooltip="tooltip">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                                <button type="submit" class="btn btn-default btn-xs red @(item.Fechado ? "disabled" : "") " title="@(item.Fechado ? "Pesquisa já publicada" : "Publicar")" data-tooltip="tooltip" data-toggle="modal" data-target="#modal-publicar">
                                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                                </button>
                                <a href="@Url.Action("Excluir", new { id = item.ID })" role="button" class="btn btn-default btn-xs red @(item.TotalPerguntas>0 ? "disabled" : "" )" title="Deletar" data-tooltip="tooltip">
                                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
</div>