@model List<Belgo.Web.Models.PesquisaModel>
@{
    ViewBag.Title = "Pesquisas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pull-right">
    <a href="@Url.Action("Cadastrar")" role="button" class="btn btn-link" title="Cadastrar nova pesquisa" data-tooltip="tooltip">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Nova pesquisa
    </a>
</div>
<p class="clearfix"></p>


<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading gray">Pesquisas Cadastradas</div>

    @using (Html.BeginForm("Publicar", null, FormMethod.Post))
    {
        <!-- Table -->
        <table class="table table-hover">
            <thead>
                <tr class="gray">
                    <th>ID</th>
                    <th>Nome</th>
                    <th class="text-center">Total de Perguntas</th>
                    <th class="text-center">Data do Cadastro</th>
                    <th>Status</th>
                    <th class="text-center">Ação</th>
                </tr>
            </thead>
            <tbody>
                @{foreach (var item in Model)
                    {
                        var totalPerguntas = item.Perguntas.Count();
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.Nome</td>
                            <td class="text-center">@totalPerguntas</td>
                            <td class="text-center">@(Convert.ToDateTime(item.DataCriacao).ToString("dd/MM/yyyy HH:mm"))</td>
                            <td>
                                <span aria-hidden="true" class="glyphicon @(item.Fechado ? "glyphicon-ok green" : "glyphicon-pencil red") "></span> @(item.Fechado ? " Publicado" : " Editando" )
                            </td>
                            <td class="text-center">
                                <a href="@Url.Action("Cadastrar", new { id = item.ID })" role="button" class="btn btn-default btn-xs editar red @(item.Fechado ? "disabled" : "")" title="Editar" data-tooltip="tooltip">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                                <button type="button" class="btn btn-default btn-xs red " title="@(item.Fechado ? "Visualizar Pesquisa" : "Visualizar e Publicar Pesquisa")" data-tooltip="tooltip" data-toggle="modal" data-target="#modal-visualizar" data-id="@item.ID" data-acao="Visualizar">
                                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-xs red @(item.Fechado ? "disabled" : "") @(totalPerguntas >0 ? "disabled" : "" )" title="@(totalPerguntas > 0 ? "Não é possível excluir quando existe pergunta cadastrada." : "")" data-tooltip="tooltip" data-id="@item.ID" data-acao="Excluir" data-target="#modal-excluir" data-toggle="modal">
                                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
                    }
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modal-excluir">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-visualizar">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {

            $('#modal-excluir, #modal-visualizar').on('show.bs.modal', function (e) {
                var $modal = $(this);
                var id = $(e.relatedTarget).attr("data-id");
                var acao = $(e.relatedTarget).attr("data-acao");
                $.ajax({
                    cache: false,
                    type: 'GET',
                    url: "@Url.Content("~/Pesquisa/")" + acao,
                    data: { "id": id },
                    success: function (data) {
                        $modal.find('.modal-content').html(data);
                    }
                });
            })

        });
    </script>
}


