<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/images/icons/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/images/icons/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/images/icons/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/images/icons/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/images/icons/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/images/icons/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/images/icons/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/images/icons/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/images/icons/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/images/icons/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/images/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/images/icons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/icons/favicon-16x16.png" />
    <link rel="manifest" href="~/Scripts/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/images/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#3d3d3d">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <title>Belgo - @ViewBag.Title</title>
    @Styles.Render("~/Content/Bootstrap")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/FontAwesome")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/Bootstrap")
    @Scripts.Render("~/bundles/grafico")
    @Scripts.Render("~/Scripts/functions")

</head>
<body role="document">
    <div id="wrap">

        @Html.Partial("_Menu")
        <div class="container" role="main">
            <div class="miolo">
                <div class="page-header">
                    <h3><small><span class="glyphicon glyphicon-link red " aria-hidden="true"></span> <strong>@ViewBag.Title</strong> </small> </h3>
                </div>
                @Html.Partial("_alertas")

                @RenderBody()
            </div>
        </div>
        <div id="push"></div>
    </div>
    <div id="footer">
        <div class="container">
            <p>Belgo Arames - @DateTime.Now.Year</p>
        </div>
    </div>

    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            $('[data-tooltip="tooltip"]').tooltip();
            $("input:text[required]")
                .attr("pattern", "( *?[a-zA-Zá-úÁ-ú0-9çÇÃã.,?!/-] *?){3,}")
                .attr("title", "Digite no mínimo 3 caracteres");
        });
    </script>
</body>
</html>
