@model List<Belgo.Web.Models.UsuarioModel>
@{
    ViewBag.Title = "Usuários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pull-right">
    <a href="@Url.Action("Cadastrar")" role="link" class="btn btn-link" title="Cadastrar novo usuário" data-tooltip="tooltip">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Novo usuário
    </a>
</div>
<p class="clearfix"></p>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Usuários Cadastrados</div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Data do Cadastro</th>
                <th>Data Último Acesso</th>
                <th>Status</th>
                <th class="text-center">Ação</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    var status = Convert.ToString((Belgo.Web.Models.UsuarioModel.DescricaoStatus)item.Status);
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.Nome</td>
                        <td>@item.Email</td>
                        <td>@item.DataCadastro.ToString("dd/MM/yyyy HH:mm")</td>
                        <td>@item.DataUltimoAcesso.ToString("dd/MM/yyyy HH:mm")</td>
                        <td>@status</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-default btn-xs editar" title="Editar" data-tooltip="tooltip">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-xs" title="Resetar senha" data-tooltip="tooltip" data-toggle="modal" data-target="#modal-troca-senha">
                                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>

<!--modal troca de senha-->
<div class="modal fade" tabindex="-1" role="dialog" id="modal-troca-senha">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Resetar senha</h4>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja resetar a senha deste usuário?&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <a href="@Url.Action("Resetar", new {id = 0 })" role="button" class="btn btn-primary">Resetar</a>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            $(".editar").click(function () {
                window.location.href = "@Url.Action("Cadastrar")";
            });
        })
    </script>
}